*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$main-font: #363738;
$additional-font: #6B6B6C;

h1{
    font-family: "Exo 2", sans-serif;
    color: $main-font;
    font-size: 52px;
}

h2{
    font-family: "Exo 2", sans-serif;
    color: $main-font;
    font-size: 48px;
}

h3{
    font-family: "Exo 2", sans-serif;
    color: $main-font;
    font-size: 20px;
}

b, a{
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

p, span{
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    color: $additional-font;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

main{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .main__content{
        h1{
            max-width: 610px;
        }
        p{
            margin-top: 40px;
            margin-bottom: 40px;
            max-width: 525px;
        }
        a{
            text-decoration: none;
            color: inherit;
            border-bottom: 3px solid #FFCE50;
            padding-bottom: 10px;
        }
    }
    
    .main__img{
        width: 635px;
        height: 505px;
        background-image: url(../images/2trucks.jpg);
    }
}

.features{
    max-width: 1240px;
    height: 341px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    margin-top: 67px;
    display: flex;
    .features__item{
        width: 413px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 80px;
        
        &:nth-child(2){
            border-left: 1px solid #D7D7DD;
            border-right: 1px solid #D7D7DD;
        }
        .features__item__content{
            max-width: 228px;
            h3{
                margin-top: 24px;
                margin-bottom: 16px;
            }
        }
    }
}

.query{
    margin-top: 100px;
    display: flex;
    gap: 0 140px;
    .query__questions{
        p{
            max-width: 667px;
            margin-top: 32px;
            margin-bottom: 40px;
        }
        .card__wrapper {
            max-width: 700px;
            /* margin: 0 auto; */
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
          
          .radio-card {
            background-color: #fff;
            padding: 60px;
            border: 1px solid #e0e0e0;
            border-radius: 15px;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            transition: border 0.3s ease;
            cursor: pointer;
          
            // Hover effect for the card
            &:hover {
              border-color: #0B7572;
            }
          
            // Card selected state
            &.selected {
              border: 2px solid #0B7572;
            }
          
            .radio-input {
              display: flex;
              align-items: center;
          
              input[type="radio"] {
                appearance: none;
                width: 18px;
                height: 18px;
                border: 2px solid #0B7572;
                border-radius: 50%;
                outline: none;
                margin-right: 15px;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s ease;
                accent-color: #fff;
          
                // Create a checkmark inside the radio button
                &:checked {
                  /* background-color: #4CAF50; */
                  position: relative;
          
                  &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 8px;
                    height: 8px;
                    background-color: #0B7572;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }
            }
          
            .content {
              h3 {
                margin: 0;;
                margin-bottom: 15px;
              }
          
              span{
                margin: 5px 0 0;
              }
            }
        }
    }

    .query__results{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            padding-bottom: 40px;
            border-bottom: 3px solid #FFCE50;
        }
    }
}

.whyus{
  margin-top: 100px;
  margin-bottom: 120px;
  h2{
    display: none;
  }
  .whyus-top{
    display: flex;
    justify-content: flex-end;
    max-width: 1242px;
    position: relative;
    overflow: hidden;
    margin-bottom: 72px;
    .whyus__banner{
      width: 1040px;
      height: 453px;
      background-image: url(../images/truck.jpg);

        &::after{
          content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 58%; /* Adjust this to control the width of the triangle */
        height: 100%;
        background-color: #0B7572; /* Adjust to your triangle's color */
        transform: skewX(30deg); /* Adjust this to control the angle of the triangle */
        transform-origin: bottom left;
        z-index: 1;
      }
    }
  }

  .whyus-bottom{
    max-width: 1070px;
    height: 222px;
    display: flex;
    flex-wrap: wrap;
    gap: 62px 140px;
    margin: auto;
    .whyus-bottom__items{
      display: flex;
      gap: 0 40px;
      width: 447px;
      height: 80px;
      .whyus-bottom__items__txt{
        max-width: 291px;
        display: flex;
        flex-direction: column;
        gap: 16px 0;
      }
    }
  }
}

.ourworks{
  max-width: 1239px;
  margin-top: 122px;
  margin-bottom: 212px;
  .ourworks__content{
    margin-bottom: 56px;
    max-width: 667px;
    p{
      margin-top: 32px;
    }
  }

  .ourworks__item__wrapper{
    margin-top: 56px;
    max-width: 1239px;
    display: flex;
    gap: 0 30px;
    .ourworks__item{
      max-width: 593px;
      height: 439px;
      border-radius: 10px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
      
      img{
        width: 100%;
      }

      .ourworks__item__txt{
        margin: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        p{
          margin-top: 16px;
          margin-bottom: 32px;
          max-width: 291px;
         }
   
         a{
           text-decoration: none;
           color: inherit;
           padding-bottom: 10px;
           border-bottom: 3px solid #FFCE50;
         }
      }
     
    }
  }
}

.clients{
  padding: 85px 67px 85px 81px;
  background-color: #0B7572;
  display: flex;
  gap: 0 20px;
  .clients__right{
    margin-right: 67px;
    img{
      width: 100%;
    }
  }

  .clients__content{
    flex: 1;
    h2{
      max-width: 477px;
      color: #fff;
    }
  }
}

.steps{
  margin-top: 120px;
  height: 880px;
  .steps__item__wrapper{
    margin-top: 48px;
    max-width: 1183px;
    height: 807px;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    .steps__item{
      border-radius: 10px;
      width: 100%;
      /* height: 245px; */
      padding: 30px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 56px;
      .steps__item__content{
        max-width: 568px;
        b{
          padding-bottom: 24px;
          width: 86px;
          border-bottom: 3px solid #FFCE50;
        }

        p{
          margin-top: 44px;
        }
      }
    }
  }
}

.logos{
  margin-top: 120px;
  .logos__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr  );
    grid-template-rows: repeat(2,183px);
    gap: 80px 0;
    margin-top: 90px;
    .logos__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #D7D7DD;
      img{
        margin-bottom: 32px;
      }
      p{
        margin-top: 14px;
        text-align: center;
      }
    }
  }
}

.team{
  margin-top: 130px;

  .team__wrapper{
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 210px);
    gap: 24px 30px;

    .team__item{
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      align-items: center;
      gap: 0 32px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

      .vay{
        display: flex;
        align-items: center;
        gap: 0 40px;
      }
      
      .green{
        width: 51px;
        height: 100%;
        background-color: #0B7572;
      }

      .team__item__content{
        p{
          padding-bottom: 16px;
          border-bottom: 3px solid #FFCE50;
          margin-top: 12px;
          margin-bottom: 32px;
        }

        .sociallogos{
          display: flex;
          gap: 0 20px;
          i{
            font-size: 22px;
            color: #BFBFC7;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.contacts{
  margin-top: 130px;
  .contacts__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    .sources{
      display: grid;
      grid-template-columns: 239px;
      grid-template-rows: repeat(4, 43px);
      gap: 44px 0;
      
      .sources__item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0 32px;
        i{
          font-size: 23px;
          color: #0B7572;
        }
      }
    }

    .info-table {
      max-width: 794px;
      background-color: #F9F9FB;
      padding: 20px;
      border-radius: 5px;
      margin-top: 64px;
      
      .row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;
    
        &:last-child {
          border-bottom: none;
        }
    
        .label {
          /* font-weight: bold; */
          color: #333;
          text-align: left;
        }
    
        .value {
          color: #666;
          text-align: right;
          font-weight: bold;
          max-width: 443px;
          margin-right: 90px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1073px){
  .ourworks{
    margin-top: 350px;
  }
}

@media only screen and (max-width: 768px){
    main{
        flex-direction: column;
        .main__content{
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 73px;
            h1{
                font-size: 40px;
                text-align: center;
            }
            p{
                max-width: 690px;
                text-align: center;
            }
        }

        .main__img{
            max-width: 690px;
            width: 100%;
            height: 314px;
            background-image: url(../images/2truckstablet.jpg);
        }
    }

    .features{
        max-width: 690px;
        height: 540px;
        flex-direction: column;
        align-items: center;
        gap: 16px 0;
        box-shadow: none;
        border-radius: 0px;
        .features__item{
            max-width: 690px;
            width: 100%;
            height: 164px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 0 32px;
            padding-left: 32px;

            .features__item__content{
                max-width: 394px;
                h3{
                    margin-top: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .query{
        margin-top: 100px;
        display: flex;
        gap: 0 140px;
        .query__questions{
            p{
                max-width: 667px;
                margin-top: 32px;
                margin-bottom: 40px;
            }
            .card__wrapper {
                max-width: 700px;
                /* margin: 0 auto; */
                display: flex;
                flex-direction: column;
                gap: 20px;
              }
              
              .radio-card {
                background-color: #fff;
                padding: 60px;
                border: 1px solid #e0e0e0;
                border-radius: 15px;
                display: flex;
                align-items: flex-start;
                gap: 15px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                transition: border 0.3s ease;
                cursor: pointer;
              
                // Hover effect for the card
                &:hover {
                  border-color: #0B7572;
                }
              
                // Card selected state
                &.selected {
                  border: 2px solid #0B7572;
                }
              
                .radio-input {
                  display: flex;
                  align-items: center;
              
                  input[type="radio"] {
                    appearance: none;
                    width: 18px;
                    height: 18px;
                    border: 2px solid #0B7572;
                    border-radius: 50%;
                    outline: none;
                    margin-right: 15px;
                    position: relative;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    accent-color: #fff;
              
                    // Create a checkmark inside the radio button
                    &:checked {
                      /* background-color: #4CAF50; */
                      position: relative;
              
                      &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 8px;
                        height: 8px;
                        background-color: #0B7572;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                      }
                    }
                  }
                }
              
                .content {
                  h3 {
                    margin: 0;
                    margin-bottom: 15px;
                  }
              
                  span {
                    margin: 5px 0 0;
                  }
                }
            }
        }
    
        .query__results{
            display: none;
        }
    }

    .whyus{
      margin-top: 100px;
      h2{
        display: none;
      }
      .whyus-top{
        display: flex;
        justify-content: flex-end;
        max-width: 1242px;
        position: relative;
        overflow: hidden;
        margin-bottom: 72px;
        .whyus__banner{
          width: 1040px;
          height: 453px;
          background-image: url(../images/trucktablet.jpg);
          background-repeat: no-repeat;
    
            &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 80%; /* Adjust this to control the width of the triangle */
            height: 383px;
            background-color: #0B7572; /* Adjust to your triangle's color */
            transform: skewX(30deg); /* Adjust this to control the angle of the triangle */
            transform-origin: bottom left;
            z-index: 1;
          }
        }
      }
    
      .whyus-bottom{
        max-width: 1070px;
        height: 222px;
        display: flex;
        flex-wrap: wrap;
        gap: 62px 140px;
        margin: auto;
        .whyus-bottom__items{
          display: flex;
          gap: 0 40px;
          width: 447px;
          height: 80px;
          .whyus-bottom__items__txt{
            max-width: 394px;
            display: flex;
            flex-direction: column;
            gap: 16px 0;
          }
        }
      }
    }

    .ourworks{
      margin-top: 400px;
      max-width: 690px;
      height: 1036px;
      mari
      .ourworks__content{
        margin-bottom: 56px;
        max-width: 667px;
        p{
          margin-top: 32px;
        }
      }
    
      .ourworks__item__wrapper{
        margin-top: 56px;
        max-width: 690px;
        display: flex;
        flex-direction: column;
        gap: 32px 30px;
        .ourworks__item{
          max-width: 690px;
          width: 100%;
          border-radius: 10px;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
          img{
            opacity: 0;
            height: 247px;
          }

          background-image: url(../images/Rectangle\ 13.png);
          background-repeat: no-repeat;

          &:nth-child(2){
            background-image: url(../images/Rectangle\ 14.jpg);
          }

          &:nth-child(3){
            display: none;
          }
          .ourworks__item__txt{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            p{
              margin-top: 16px;
              margin-bottom: 32px;
              max-width: 510px;
             }
       
             a{
               text-decoration: none;
               color: inherit;
               padding-bottom: 10px;
               border-bottom: 3px solid #FFCE50;
             }
          }
         
        }
      }
    }

    .clients{
      margin-top: 172px;
      max-width: 768px;
      height: 971px;
      background-color: #0B7572;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      img{
        height: 687px;
        margin-left: 0px;
        margin-bottom: 64px;
      }
    
      .clients__content{
        h2{
          margin-top: 100px;
          margin-bottom: 48px;
          max-width: 477px;
          color: #fff;
          text-align: left;
        }
      }
    }

    .steps{
      margin-top: 120px;
      height: 860px;
      h2{
        font-size: 44px;
      }
      .steps__item__wrapper{
        margin-top: 48px;
        max-width: 1183px;
        height: 807px;
        display: flex;
        flex-direction: column;
        gap: 24px 0;
        .steps__item{

          img{
            display: none;
          }

          border-radius: 10px;
          width: 100%;
          /* height: 245px; */
          padding: 30px;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 56px;
          .steps__item__content{
            max-width: 568px;
            b{
              padding-bottom: 24px;
              width: 86px;
              border-bottom: 3px solid #FFCE50;
            }
    
            p{
              margin-top: 44px;
            }
          }
        }
      }
    }

    .logos{
      margin-top: 120px;
      .logos__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,183px);
        gap: 80px 0;
        margin-top: 90px;
        .logos__item{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          
          &:nth-child(odd){
            border-right: 1px solid #D7D7DD;
          }

          img{
            margin-bottom: 32px;
          }
          p{
            margin-top: 14px;
          }
        }
      }
    }

    .team{
      margin-top: 130px;
    
      .team__wrapper{
        margin-top: 72px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 295px);
        gap: 24px 30px;
    
        .team__item{
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          align-items: center;
          gap: 0 30px;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

          .vay{
            flex-direction: column;
          }

          &:nth-child(5){
            display: none;
          }

          &:nth-child(6){
            display: none;
          }

          .green{
            width: 51px;
            height: 100%;
            background-color: #0B7572;
          }

          img{
            margin-bottom: 15px;
            max-width: 100px;
          }
    
          .team__item__content{
            p{
              padding-bottom: 16px;
              border-bottom: 3px solid #FFCE50;
              margin-top: 12px;
              margin-bottom: 32px;
            }
    
            .sociallogos{
              display: flex;
              gap: 0 20px;
              i{
                font-size: 22px;
                color: #BFBFC7;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .contacts{
      margin-top: 130px;
      .contacts__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 72px;
        .sources{
          display: grid;
          grid-template-columns: 239px;
          grid-template-rows: repeat(4, 43px);
          gap: 44px 0;
          
          .sources__item{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0 32px;
            i{
              font-size: 23px;
              color: #0B7572;
            }
          }
        }
    
        .info-table {
          max-width: 794px;
          background-color: #F9F9FB;
          padding: 20px;
          border-radius: 5px;
          
          .row {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #e0e0e0;
        
            &:last-child {
              border-bottom: none;
            }
        
            .label {
              /* font-weight: bold; */
              color: #333;
              text-align: left;
            }
        
            .value {
              color: #666;
              text-align: right;
              font-weight: bold;
              max-width: 443px;
              margin-right: 90px;
            }
          }
        }
      }
    }
}

@media only screen and (max-width: 375px){
    main{
        flex-direction: column;
        .main__content{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 40px;
            h1{
                font-size: 28px;
                max-width: 344px;
                text-align: left;
            }
            p{
                max-width: 344px;
                text-align: left;
                font-size: 15px;
            }
        }

        .main__img{
            width: 345px;
            height: 253px;
            background-image: url(../images/2trucksphone.jpg);
        }
    }

    .features{
        max-width: 345px;
        height: 680px;
        flex-direction: column;
        margin-top: 56px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        .features__item{
            width: 286px;
            height: 178px;
            border-radius: 0px;
            box-shadow: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0 32px;
            padding-left: 32px;
            margin-top: 24px;

            &:nth-child(2){
                border: none;
            }

            img{
                height: 62px;
            }

            .features__item__content{
                max-width: 286px;
                margin-top: 16px;
                h3{
                    max-width: 218px;
                    font-size: 18px;
                    margin-top: 16;
                    margin-bottom: 12px;
                }

                p{
                    font-size: 15px;
                }
            }
        }
    }

    .query{
        margin-top: 100px;
        display: flex;
        gap: 0 140px;
        .query__questions{
            p{
                display: none;
            }
            h2{
                font-size: 28px;
                margin-bottom: 32px;
            }
            .card__wrapper {
                max-width: 700px;
                /* margin: 0 auto; */
                display: flex;
                flex-direction: column;
                gap: 20px;
              }
              
              .radio-card {
                background-color: #fff;
                width: 345px;
                padding: 25px;
                border: 1px solid #e0e0e0;
                border-radius: 15px;
                display: flex;
                align-items: flex-start;
                gap: 15px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                transition: border 0.3s ease;
                cursor: pointer;
              
                // Hover effect for the card
                &:hover {
                  border-color: #0B7572;
                }
              
                // Card selected state
                &.selected {
                  border: 2px solid #0B7572;
                }
              
                .radio-input {
                  display: flex;
                  align-items: center;
              
                  input[type="radio"] {
                    appearance: none;
                    width: 18px;
                    height: 18px;
                    border: 2px solid #0B7572;
                    border-radius: 50%;
                    outline: none;
                    margin-right: 15px;
                    position: relative;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    accent-color: #fff;
              
                    // Create a checkmark inside the radio button
                    &:checked {
                      /* background-color: #4CAF50; */
                      position: relative;
              
                      &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 8px;
                        height: 8px;
                        background-color: #0B7572;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                      }
                    }
                  }
                }
              
                .content {
                  h3 {
                    font-size: 18px;
                    margin-bottom: 16px;
                    max-width: 300px;
                  }
              
                  p {
                    font-size: 14px;
                    max-width: 272px;
                    margin: 5px 0 0;
                  }
                }
            }
        }
    
        .query__results{
            display: none;
        }
    }

    .whyus{
      margin-top: 100px;
      h2{
        display: block;
        font-size: 28px;
        margin-bottom: 48px;
      }
      .whyus-top{
        display: none;
        .whyus__banner{
          background-image: none;
    
            &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 80%; /* Adjust this to control the width of the triangle */
            height: 383px;
            background-color: #0B7572; /* Adjust to your triangle's color */
            transform: skewX(30deg); /* Adjust this to control the angle of the triangle */
            transform-origin: bottom left;
            z-index: 1;
          }
        }
      }
    
      .whyus-bottom{
        max-width: 1070px;
        height: 222px;
        display: flex;
        flex-wrap: wrap;
        gap: 62px 140px;
        margin: auto;
        .whyus-bottom__items{
          display: flex;
          gap: 0 40px;
          width: 447px;
          height: 80px;
          .whyus-bottom__items__txt{
            max-width: 394px;
            display: flex;
            flex-direction: column;
            gap: 16px 0;
          }
        }
      }
    }

    .ourworks{
      max-width: 345px;
      height: 542px;
      margin-top: 400px;
      .ourworks__content{
        margin-bottom: 56px;
        max-width: 344px;
        h2{
          font-size: 28px;
        }
        p{
          margin-top: 32px;
        }
      }
    
      .ourworks__item__wrapper{
        margin-top: 56px;
        max-width: 345px;
        display: flex;
        flex-direction: column;
        gap: 32px 30px;
        .ourworks__item{
          max-width: 345px;
          padding-bottom: 10px;
          border-radius: 10px;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
          img{
            opacity: 0;
            height: 222px;
          }

          background-image: url(../images/Rectangle\ 13\ \(1\).png);
          background-repeat: no-repeat;

          &:nth-child(2){
            display: none;
          }

          &:nth-child(3){
            display: none;
          }
          .ourworks__item__txt{
            margin-top: 1px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            p{
              margin-top: 15px;
              margin-bottom: 24px;
              max-width: 510px;
              font-size: 15px;
             }
       
             a{
               text-decoration: none;
               color: inherit;
               padding-bottom: 10px;
               border-bottom: 3px solid #FFCE50;
             }
          }
         
        }
      }
    }

    .clients{
      max-width: 375px;
      height: 640px;
      background-color: #0B7572;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 120;
      img{
        height: 345px;
      }
    
      .clients__content{
        margin-left: 0px;
        height: 10%;
        h2{
          margin-top: 0px;
          max-width: 445px;
          margin-left: 0px;
          color: #fff;
          text-align: center;
          font-size: 24px;
        }
      }
    }

    .steps{
      margin-top: 120px;
      height: 860px;
      h2{
        font-size: 28 px;
      }
      .steps__item__wrapper{
        margin-top: 48px;
        max-width: 1183px;
        height: 807px;
        display: flex;
        flex-direction: column;
        gap: 24px 0;
        .steps__item{

          img{
            display: none;
          }

          border-radius: 10px;
          width: 100%;
          /* height: 245px; */
          padding: 30px;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 56px;
          .steps__item__content{
            max-width: 568px;
            b{
              padding-bottom: 0;
              width: 0;
              border-bottom: 0px;
            }
    
            p{
              margin-top: 16px;
            }
          }
        }
      }
    }

    .logos{
      margin-top: 220px;
      height: 485px;

      h2{
        font-size: 28px;
      }
      .logos__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 176px);
        gap: 80px 0;
        margin-top: 90px;
        .logos__item{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #D7D7DD;

          b{
            font-size: 18px;
          }

          p{
            font-size: 14px;
            text-align: center;
          }

          img{
            margin-bottom: 32px;
          }
          p{
            margin-top: 14px;
          }

          &:nth-child(5){
            display: none;
          }

          &:nth-child(6){
            display: none;
          }

          &:nth-child(7){
            display: none;
          }

          &:nth-child(8){
            display: none;
          }
        }
      }
    }

    .team{
      margin-top: 130px;

      h2{
        font-size: 28px;
      }
    
      .team__wrapper{
        margin-top: 72px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 156px);
        gap: 24px 30px;
    
        .team__item{
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0 40px;
          position: relative;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

          .vay{
            flex-direction: row;

            img{
              max-width: 100px;
            }
          }

          &:nth-child(4){
            display: none;
          }

          &:nth-child(5){
            display: none;
          }

          &:nth-child(6){
            display: none;
          }

          .green{
            width: 20px;
            height: 100%;
            background-color: #0B7572;
            position: absolute;
            left: 0;
            top: 0;
          }

          img{
            margin-bottom: 15px;
            margin-left: 32px;
          }
    
          .team__item__content{
            p{
              padding-bottom: 16px;
              border-bottom: 3px solid #FFCE50;
              margin-top: 10px;
              margin-bottom: 35px;
            }
    
            .sociallogos{
              display: flex;
              gap: 0 20px;
              i{
                font-size: 22px;
                color: #BFBFC7;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .contacts{
      margin-top: 130px;
      .contacts__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 72px;
        .sources{
          display: grid;
          grid-template-columns: 239px;
          grid-template-rows: repeat(4, 43px);
          gap: 44px 0;
          
          .sources__item{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0 32px;
            i{
              font-size: 23px;
              color: #0B7572;
            }
          }
        }
    
        .info-table {
          width: 345px;
          background-color: #F9F9FB;
          padding: 20px;
          border-radius: 5px;
          
          .row {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 10px 0;
            border-bottom: 1px solid #e0e0e0;
            gap: 14px 0;
        
            &:last-child {
              border-bottom: none;
            }
        
            .label {
              /* font-weight: bold; */
              color: #333;
              text-align: left;
            }
        
            .value {
              color: #666;
              text-align: left;
              font-weight: lighter;
              max-width: 443px;
              margin-right: 90px;
            }
          }
        }
      }
    }
}   
